.resposta {
    display: flex;
    min-width: 500px;
    height: 100px;
    width: 80%;
    margin: 10px;
    perspective: 1000px;
}

.conteudoResposta {
    position: relative;
    display: flex;
    flex: 1;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.respostaRevelada.conteudoResposta { /*nao tem um espaco entre os 2, porque os dois estao sobre o mesmo elemento (e nao um dentro do outro)*/
    transform: rotateY(180deg);
}

.frente, .verso { /*tem posicionamento absoluto em relacao ao conteudoResposta*/
    position: absolute; /*por conta da animacao, para usar a rotacao no centro do eixo x*/
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.frente {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    color: #000;
    padding: 15px;
}

.verso {
    transform: rotateY(180deg);
}

.verso > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.certa {
    background-color: #2baa6d;
}

.errada {
    background-color: #e44a4c;
}

.certa .valor, .errada .valor {
    font-size: 1.5rem;
}

.letra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.valor {
    font-size: 1.3rem;
    font-weight: bold;
}